<div class="personal-shop-main-footer-outer">
  <div class="container">
    <div class="main-footer-inner">
      <div class="options-outer">
        <h2 class="footer-title">Contact Information</h2>
        <div class="footer-line"></div>
        <p class="call-us">Call Us 24/7 Free</p>
        <h1 class="contact-no">0112 333 444</h1>
        <p class="address">Ranaviru Ajith Prasanna Mw Dibbadda,Panadura</p>
      </div>
      <div class="options-outer">
        <h2 class="footer-title">Get to know us</h2>
        <div class="footer-line"></div>
        <ul>
          <li class="option">About Us</li>
          <li class="option">Career</li>
          <li class="option">Press Release</li>
        </ul>
      </div>
      <div class="options-outer">
        <h2 class="footer-title">Connect with us</h2>
        <div class="footer-line"></div>
        <ul>
          <li class="option">About Us</li>
          <li class="option">Career</li>
          <li class="option">Press Release</li>
        </ul>
      </div>
      <div class="options-outer">
        <h2 class="footer-title">Let us help you</h2>
        <div class="footer-line"></div>
        <ul>
          <li class="option">About Us</li>
          <li class="option">Career</li>
          <li class="option">Press Release</li>
        </ul>
      </div>
    </div>
  </div>
</div>
