<div class="personal-shop-store-products-outer">
  <h2 class="page-title">Shop</h2>
  <hr>
  <div class="filters"></div>
  <div class="products-outer">
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
  </div>
</div>
