<div class="personal-shop-store-products-outer">
  <h2 class="page-title">Shop</h2>
  <hr>
  <div class="filters">
    <p class="showing-text">Showing 1–12 of 23 results</p>
    <div class="selector">
      <select id="sortingSelect">
        <option value="default">Default Sorting</option>
        <option value="popularity">Popularity</option>
        <option value="price">Price</option>
      </select>
    </div>
  </div>
  <div class="products-outer" >
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
    <app-personal-shop-product-card></app-personal-shop-product-card>
  </div>
</div>

