#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 200;
  background-color: #da2128;
  color: white;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
