<div class="sale-banner-outer">
  <div class="container">
    <div class="sale-banner-inner">
      <div class="sale-banner-inner-left">
        <video #bannerVideo autoplay muted loop>
          <source src="assets/video/video%20(2160p).mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <!-- Add other content within the div if needed -->
        <div class="content-overlay">
          <div class="sale-details">
            <p class="discount-details">discount 20% off on VR headset</p>
            <h2 class="discount-product">Best VR Series</h2>
          </div>
        </div>
      </div>
      <div class="sale-banner-inner-right">
        <div class="discount-main-title">
          <p class="discount-main-title-data">Up to 50% <br> <span>SALE</span></p>
        </div>
        <div class="discount-main-description">
          <h3 class="discount-main-description-data-title">Get New Speakers</h3>
          <p class="discount-main-description-data-description">watches that signature passages of available
          <p class="discount-main-description-data-discover-more">Discover More</p>
        </div>
        <div class="discount-coupon-option">
          <img src="assets/images/Screenshot%202024-03-06%20130501.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
