<div class="home-subscription-outer">
  <div class="container">
    <div class="home-subscription-inner">
      <div class="subscription-inner-left">
        <div class="icon-img">
          <img src="assets/icons/megaphone.png" alt="">
        </div>
        <h1 class="subscription-text">Subscribe for join us</h1>
      </div>
      <div class="subscription-inner-right">
        <div class="input-outer">
          <input class="input">
        </div>
        <div class="button-outer">
          <button>Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
