<div class="personal-shop-home-top-offers-outer">
  <div class="container">
    <div class="top-offers-inner">
      <div class="offer-card-outer">
        <div class="offer-card-inner">
          <div class="product-image-outer">
            <img src="{{imageUrl}}" alt="" class="product-image">
          </div>
          <div class="offer-card-text">
            <p class="fancy-text">Best Mobile Offer</p>
            <h2 class="title">Electronic Sale <br> 20% off</h2>
            <span class="shop-now">Shop Now</span>
          </div>
        </div>
      </div>
      <div class="offer-card-outer">
        <div class="offer-card-inner">
          <div class="product-image-outer">
            <img src="{{imageUrl}}" alt="" class="product-image">
          </div>
          <div class="offer-card-text">
            <p class="fancy-text">Best Mobile Offer</p>
            <h2 class="title">Electronic Sale <br> 20% off</h2>
            <span class="shop-now">Shop Now</span>
          </div>
        </div>
      </div>
      <div class="offer-card-outer">
        <div class="offer-card-inner">
          <div class="product-image-outer">
            <img src="{{imageUrl}}" alt="" class="product-image">
          </div>
          <div class="offer-card-text">
            <p class="fancy-text">Best Mobile Offer</p>
            <h2 class="title">Electronic Sale <br> 20% off</h2>
            <span class="shop-now">Shop Now</span>
          </div>
        </div>
      </div>
      <div class="offer-card-outer">
        <div class="offer-card-inner">
          <div class="product-image-outer">
            <img src="{{imageUrl}}" alt="" class="product-image">
          </div>
          <div class="offer-card-text">
            <p class="fancy-text">Best Mobile Offer</p>
            <h2 class="title">Electronic Sale <br> 20% off</h2>
            <span class="shop-now">Shop Now</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
