<app-personal-shop-home-main-slider></app-personal-shop-home-main-slider>
<app-personal-shop-home-top-offers></app-personal-shop-home-top-offers>
<app-personal-shop-home-weekly-deal></app-personal-shop-home-weekly-deal>
<app-personal-shop-home-our-services></app-personal-shop-home-our-services>
<app-personal-shop-home-top-products></app-personal-shop-home-top-products>
<app-personal-shop-home-sale-banner></app-personal-shop-home-sale-banner>
<app-personal-shop-home-specials></app-personal-shop-home-specials>
<app-personal-shop-home-top-offers></app-personal-shop-home-top-offers>
<app-personal-shop-home-subscription></app-personal-shop-home-subscription>
